---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: k8s-kind-load-testing

commonLabels:
  projectName: k8s-kind-load-testing

resources:
  - namespace.yaml
  - service-account.yaml
  - app-one-configmap.yaml
  - app-one-deployment.yaml
  - app-one-service.yaml
  - app-two-configmap.yaml
  - app-two-deployment.yaml
  - app-two-service.yaml
  - ingress.yaml
