---
apiVersion: kustomize.config.k8s.io/v1beta1

commonLabels:
  environment: ci-performance

resources:
  - ../base

replicas:
  - name: app-one
    count: 1
  - name: app-two
    count: 1

patches:
  - target:
      kind: ConfigMap
    patch: |-
      - op: replace
        path: /data/ENVIRONMENT
        value: ci-performance
